

  .buttonQuote {
        background: linear-gradient(to right, rgba(120, 0, 255, 0.34), rgba(255, 14, 59, 0.34));
        background-color: #68113F;
        padding: 10px;
        word-wrap: break-word;
        width: 40%;
        height: 30%;
        text-align: center;
        cursor: pointer;
        color: white;
        margin-left: 30%;
        margin-top: 10px;
        font-size: 25px;
        
  }

  #welcomeDiv {
      width: 45%;
      height: 450px;
      background-color: white;
      opacity: .7;
      margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
  }

  h2, h3 {
      color: rgb(39, 11, 138);
      text-align: center;
         
  }

  #words {
    margin-top: 150px;
  }