body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background-color: #3d4226;
}

h1 {
	margin: 20px;
	color: #f6f7ee;
}

h3 {
	margin: 20px;
	color: #f6f7ee;
}

.header {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 360px;
}

.count {
	padding: 2px;
	font-size: 10pt;
	border-width: 1px;
	border-style: solid;
	background-color: #0c9bb4;
	color: #2a0e23;
}

.count span {
	text-align: center;
	font-size: 16pt;
	display: block;
}

.content {
	max-width: 80vh;
}

.newgame {
	white-space: nowrap;
	margin-right: 10px;
	padding: 5px;
	background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
	cursor: pointer;
	margin: 0;
}