/* body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background-color: #3d4226;
} */

h1 {
	margin: 20px;
	color: #f6f7ee;
}

h3 {
	margin: 20px;
	color: blue;
}


.count {
	
	font-size: 10pt;
	border-width: 1px;
	border-style: solid;
	background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
	color: black;
	padding: 20px;
	margin: 20px;
}

.count span {
	text-align: center;
	font-size: 16pt;
	display: block;
	color: red;
}


#newgame1 {
	white-space: nowrap;
	margin-right: 10px;
	padding: 15px;
	background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
	cursor: pointer;
	margin: 0;
	color: black;
	border-width: 1px;
	border-style: solid;
	margin: 20px;
	
}

