@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800');

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
	color: #2c2c2c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 919px;
}
.home_slider_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7800ff;
	background-image: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
	background: #7800ff;
	background: linear-gradient(to right, rgba(120,0,255,0.34), rgba(255,14,59,0.34));
}
.home_slider_container
{
	height: 100%;
}
.slide_wrap
{
	width: 100%;
	height: 100%;
	padding-top: 90px;
}

.home_subtitle
{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.2;
	padding-left: 6px;
}
.home_title
{
	margin-top: 9px;
}
.home_title h1
{
	font-size: 90px;
	font-weight: 300;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.home_title h1 span
{
	font-weight: 700;
}


