#login {
    
    margin-right: 52px;
    font-size: 14px;
    text-align: center;
    float:none;
    margin:0 auto;
    display: block;   
    padding-top: 50px;  
    
}
#loginSubmit {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin-top: 10px;
    width: 250px;
}

#loginSubmit {
    background: linear-gradient(to right, rgba(120, 0, 255, 0.34), rgba(255, 14, 59, 0.34));
    background-color: #68113F;
    color: white;
    padding: 5px;
    margin-top: 10px;
    width: 150px;
}